name: CD-Liara
on:
  push:
    branches: [master]
jobs:
  deploy:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v3
        with:
          fetch-depth: 0
      - uses: actions/setup-node@v3
        with:
          node-version: "16"
      - uses: MansaGroup/nrwl-nx-action@v3.2.2
        with:
          targets: build
      - name: update-liara
        env:
          LIARA_TOKEN: ${{ secrets.LIARA_API_TOKEN }}
        run: |
          npx nx build api --prod
          npm i -g @liara/cli@3
          cd dist/api
          liara deploy --app="nxnodejs" --api-token="$LIARA_TOKEN" --detach --port=3000